/out/production/Rollenspiel/Rollenspielsetup/Attacker.class
/out/production/Rollenspiel/Rollenspielsetup/Character.class
/out/production/Rollenspiel/Rollenspielsetup/Main.class
/out/production/Rollenspiel/Rollenspielsetup/Menu.class
/out/production/Rollenspiel/Rollenspielsetup/Warrior.class
/out/production/Rollenspiel/Rollenspielsetup/Wizard.class
